
notebooks/01-Python-Crash-Course/.DS_Store

notebooks/01-Python-Crash-Course/.ipynb_checkpoints/

notebooks/01-Python-Crash-Course/MyModule/.DS_Store

notebooks/01-Python-Crash-Course/Untitled.ipynb

notebooks/.DS_Store

notebooks/03-Pandas/.ipynb_checkpoints/

.DS_Store

notebooks/02-Numpy/.ipynb_checkpoints/
notebooks/10-ML/Classification/.ipynb_checkpoints/evalutaion-checkpoint.ipynb
notebooks/10-ML/Classification/Section 19 - Kernel SVM/Python/.ipynb_checkpoints/kernel_svm-checkpoint.ipynb
notebooks/10-ML/Classification/Section 22 - Random Forest Classification/Python/.ipynb_checkpoints/random_forest_classification-checkpoint.ipynb
notebooks/10-ML/Clustering/ K-Means Clustering/Python/.ipynb_checkpoints/k_means_clustering-checkpoint.ipynb
